body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  box-sizing: border-box;
  background-color: #f3f3f9;
  color: #878a99;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

* > a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  width: 100%;
}
